*{
	margin: 0;
	padding: 0;
}


@font-face{
	font-family:"HappyMonkey-Regular";
	src:url(../fonts/HappyMonkey-Regular.ttf);
}

@font-face{
	font-family:"launica";
	src:url(../fonts/launica.ttf);
}


body{
	width: 100%;
	font-size: 120%;
	background: linear-gradient(90deg,rgba(47, 239, 240,.3), rgba(255, 241, 0,.3));
	font-family: "HappyMonkey-Regular", cursive;                     
	
}

.cabecera{
	margin: 0 auto;
	width: 100%;
}

/*revisar position*/

.titulo{
	width: 58%;
	position: left;
	font-family: launica;
	text-align: center;
	min-height: 150px;
	
}

	.titulo h1{
		text-align: center;
		font-size: 3em;
		padding: 6px;
	}

.principal{
	margin: 6px;
	width: 40%;
	position: right;
	min-height: 150px;
}

	.principal h2{
		width: 59%;
		position: right;
		display: inline-block;
		padding-top: 20px;

	}

	.principal img{
		width: 35%;
		position: left;
		display: inline-block;
	}




