*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


@font-face{
	font-family:"HappyMonkey-Regular";
	src:url(../fonts/HappyMonkey-Regular.ttf);
}

@font-face{
	font-family:"launica";
	src:url(../fonts/launica.ttf);
}


body{
	font-size: 120%;
	background: linear-gradient(90deg,rgba(47, 239, 240,.3), rgba(255, 241, 0,.3));
	font-family: "HappyMonkey-Regular", cursive;                     
	
}

.cabecera{
	margin: 2em auto;
	width: 95%;
	min-height: 120px;
	position: relative;
}

	h1{
		width: 59%;
		border: outset 3px #241005;
		border-radius: 20px;
		box-shadow: 3px 3px 6px #333;
		font-family: "launica", cursive;
		font-size: 2.5em;
		padding: 6px;
		text-align: center;
		display: inline-block;
		position: absolute;
		right: 0;
		top: 30px;

	}

	.alterna{
		position: relative;
		bottom: 5px
	}


	.principal{
		margin: 12px 12px 0 12px;
		width: 40%;
		display: inline-block;
	}

		.principal img{
			border-radius: 30%;
			border: outset 2px #241005;
			box-shadow: 3px 3px 6px #333;
			float: left;
			margin-right: 16px;
		}

		.principal h2{
			padding-top: 24px;
		}


nav{
	width: 95%;
	margin: 12px auto;
	text-align: center;
		
}

	nav li{
		list-style: none;
		display: inline-block;
		width: 40%;
		min-height: 200px;
				
	}

		nav li a{
			text-decoration: none;
		}

		.galeria{
			border-radius: 24px;
			padding: 12px;
	
	}
				
		.galeria img{
			min-height: 180px;
			background-color: rgba(47, 239, 240,.7); 
			border-radius: 24px;
			border:outset 2px rgb(255, 241, 0);
			box-shadow: 6px 6px 6px #333;
			padding: 12px;
					
		}

		.galeria figcaption{
			text-align: center;
			
			position: relative;
			bottom: -20px;
		
		}



