*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


@font-face{
	font-family:"HappyMonkey-Regular";
	src:url(../fonts/HappyMonkey-Regular.ttf);
}

@font-face{
	font-family:"launica";
	src:url(../fonts/launica.ttf);
}


body{
	background: linear-gradient(90deg,rgba(47, 239, 240,.3), rgba(255, 241, 0,.3));
	font-family: "HappyMonkey-Regular", cursive;  
	color: #333;
}

.container{
	background-image: url(../imagenes/flores.png);
	background-size: 18%;
	background-position: bottom left;
	background-repeat:no-repeat;
	
}

.cabecera{
	margin: 2em auto;
	width: 90%;
	min-height: 120px;
	position: relative;

}

	h1{
		width: 59%;
		border: outset 2px #241005;
		border-radius: 20px;
		box-shadow: 12px 12px 12px #333;
		font-family: "launica", cursive;
		font-size: 250%;
		padding: 6px;
		text-align: center;
		display: inline-block;
		top: 25px;
		position: absolute;
		right: 0;
	}

		.alterna{
				position: relative;
				bottom: 5px;
				animat
			}

	

	.principal{
		margin: 12px 12px 0 12px;
		width: 39%;
		display: inline-block;
	}

		.principal img{
			border-radius: 30%;
			border: outset 2px #333;
			box-shadow: 8px 8px 8px #333;
			float: left;
			margin-right: 16px;
		}

		.principal h2{
			position:relative;
			top:35px;
			font-size: 120%;
		}

nav{
	width: 90%;
	margin: 12px auto;
	text-align: center;
		
}

	nav li{
		list-style: none;
		display: inline-block;
		width: 30%;
		margin: 1em;
				
	}

		nav li a{
			text-decoration: none;
		}

nav li a:link{
	color:#333;
}

nav li a:visited{
	color:#333;
}

		.galeria{
			background-color: rgba(47, 239, 240,.3);
			border: outset 1px #333;
			border-radius: 24px;
			padding: 12px;
			box-shadow: 12px 12px 8px #333;
			min-height: 300px;
			}

				.galeria:hover{
					background-color: rgba(157, 34, 186,.6);
					transform: scale(1.15);
				}

				.galeria img{
					width: 100%;
					background-color: rgba(47, 239, 240,.7); 
					border-radius: 24px;
					border:outset .5px #333;
					box-shadow: 8px 5px 8px #333;
					padding: 8px;

				}

				.galeria figcaption{
					text-align: center;
					position:relative;
					bottom:-40px;
					
				}


a#gototop{
	position: fixed;
	opacity: 1; 
	display: block;
	bottom: 0px; right: 0px;
	margin-bottom: 0px;
}

footer{
	margin: 0 auto;
	width: 90%;
	text-align: center;
}