body{
	color:red;
}

ul{
	color:navy;
	background-color: gold;
}

.frase{
	font-variant: small-caps;
}

nav{
	background-color: fuchsia;
}

nav li{
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
	margin: 25px;
	background-color: aqua
}